@font-face {
  font-family: "PeydaThin";
  src: url("../assets/fonts/Peyda-Thin.woff") format("woff"),
    url("../assets/fonts/Peyda-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "PeydaExtralight";
  src: url("../assets/fonts/Peyda-ExtraLight.woff") format("woff"),
    url("../assets/fonts/Peyda-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PeydaLight";
  src: url("../assets/fonts/Peyda-Light.woff") format("woff"),
    url("../assets/fonts/Peyda-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PeydaRegular";
  src: url("../assets/fonts/Peyda-Regular.woff") format("woff"),
    url("../assets/fonts/Peyda-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Peyda";
  src: url("../assets/fonts/Peyda-Medium.woff") format("woff"),
    url("../assets/fonts/Peyda-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PeydaSemibold";
  src: url("../assets/fonts/Peyda-SemiBold.woff") format("woff"),
    url("../assets/fonts/Peyda-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PeydaBold";
  src: url("../assets/fonts/Peyda-Bold.woff") format("woff"),
    url("../assets/fonts/Peyda-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PeydaExtraBold";
  src: url("../assets/fonts/Peyda-ExtraBold.woff") format("woff"),
    url("../assets/fonts/Peyda-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "PeydaBlack";
  src: url("../assets/fonts/Peyda-Black.woff") format("woff"),
    url("../assets/fonts/Peyda-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  background: linear-gradient(252deg, #2c2e32 0.73%, #0f1114 39.56%);
  font-family: "PeydaRegular";
}
